In [13]:
import pandas as pd
import numpy as np
import requests
!pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.6)

In [14]:
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [0]:
toronto_url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [16]:
toronto_df1= pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
toronto_df1.head()
#scraping data from the page

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [0]:
toronto_df1.drop(toronto_df1.loc[toronto_df1['Borough']=="Not assigned"].index, inplace=True)#Removing raws having value not assigned.

In [18]:
toronto_df1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [0]:
toronto_df2=toronto_df1.groupby(['Postcode','Borough'],sort=False,as_index=False).agg(lambda x: ','.join(x))#joining raws that have same postal code

In [20]:
toronto_df2.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [0]:
toronto_df2.loc[toronto_df2['Neighbourhood'] == "Not assigned", 'Neighbourhood'] = toronto_df2['Borough']#changing neighbourhood column value that have not assigned to borough value

In [24]:
toronto_df2.head(10)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park
5      M9A         Etobicoke                 Islington Avenue
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

In [26]:
toronto_df2.shape

(103, 3)